N8N/Open WebUI - instant.json
{
  "name": "Open WebUI - instant",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        48,
        -144
      ],
      "id": "92f8a16d-34d5-4e50-ae5d-851012088987",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const body = item.json.body;\n\n  // Unpack top-level fields in body\n  for (const key in body) {\n    if (key !== 'user') { // skip 'user' for now\n      item.json[key] = body[key];\n    }\n  }\n\n  // Unpack all fields inside 'user'\n  if (body.user) {\n    const user = typeof body.user === 'string' ? JSON.parse(body.user) : body.user;\n    for (const key in user) {\n      item.json['user_' + key] = user[key]; // prefix user fields with 'user_'\n    }\n  }\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        -144
      ],
      "id": "e1a812c1-7465-4675-a787-0342ad6c9c38",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notifications",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -144
      ],
      "id": "88647027-90ed-4dfa-a5df-ebccc24afaf3",
      "name": "Webhook1",
      "webhookId": "c1bf114a-affa-4f99-a80d-f26add9bff79"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -192,
        -144
      ],
      "id": "832563f4-b9c6-4d75-bdc1-5c6e556eb6fd",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28c47508-6d8a-4062-90c1-b4e7f4276752",
              "name": "data",
              "value": "={{ $json.user_profile_image_url.split(',')[1].replace(/[\"\\n\\r]/g, '').trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -144
      ],
      "id": "88923e8a-424f-4926-8790-f668c102b911",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "id": "ab7469b1-565b-4492-a057-f1cf63231776",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1,
      "position": [
        1520,
        176
      ],
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "YO7hD29qOgyTHRbh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI Agent with Webhook for Open WebUI",
        "height": 525,
        "width": 1596,
        "color": 6
      },
      "id": "bc4ba4a3-9fd4-40d2-b83f-1c6b071c3a5e",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        -192
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Mirsal-Server",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9a0370e1-888f-46dc-b835-3ea7ade82119",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        480,
        -16
      ],
      "webhookId": "7f8a71dd-b98a-4c87-aa3c-c0f7c3b63535",
      "credentials": {
        "httpHeaderAuth": {
          "id": "tygJ9CEQ6V8aYslW",
          "name": "OpenWeb"
        }
      }
    },
    {
      "parameters": {
        "name": "web_search",
        "description": "Call this tool to do an advanced web search based on a query you define.",
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tool_type",
              "displayName": "tool_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1680,
        176
      ],
      "id": "be01759d-8014-4f28-bc28-a065cf476862",
      "name": "Web Search Tool"
    },
    {
      "parameters": {
        "content": "## Example Agent Tool",
        "height": 340,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        368
      ],
      "id": "7d4d9bd8-bcbf-447a-97d2-c515a2894fb2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "url": "=https://api.search.brave.com/res/v1/web/search?q={{ $('Tool Start').item.json.query }} }}&summary=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        464
      ],
      "id": "dde88237-4fd0-41e0-91d9-1a715c4aa42b",
      "name": "Brave Web Search",
      "disabled": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1408,
        464
      ],
      "id": "b3a9b612-0957-48cb-8bc7-ea6d5362f617",
      "name": "Tool Start",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://api.search.brave.com/res/v1/summarizer/search?key={{ $json.summarizer.key }}&entity_info=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip"
            }
          ]
        },
        "options": {}
      },
      "id": "565f66f6-9a3f-4361-92b8-3a4d6174cc32",
      "name": "Summarize Web Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        464
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5ebbd4f-6549-4a31-b3f8-eee7634dc439",
              "leftValue": "={{ $json.body.sessionId }}",
              "rightValue": "None",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        -16
      ],
      "id": "f9a0bc95-9c26-43d3-9c02-5448e4923036",
      "name": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "qwen3-14b",
          "mode": "list",
          "cachedResultName": "qwen3-14b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        240
      ],
      "id": "10911371-eb55-4018-86cc-740aef7ba2fb",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ckPwSfUmet8eT6Z2",
          "name": "LM Studio"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d264444f-c01a-4fa0-86a4-c0bf0e4c8537",
              "name": "output",
              "value": "={{ $json.output || $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        -96
      ],
      "id": "523c88e5-d766-4e16-9bd5-74bc3eb61b62",
      "name": "Edit Fields (Set Output Field)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "=You are a highly capable personal assistant and AI developer. Your goal is to understand user queries, expand them, structure them, reason about them, and then provide fully realized responses or outputs.\n\nCore Abilities:\n\nReasoning & Planning: Before generating any output, analyze the query, break it into steps, plan the workflow, and consider all angles (design, functionality, style, logic).\n\nQuery Expansion: If the user’s query is short, vague, or unclear, expand it internally to cover:\n\nPurpose of the task\n\nTarget audience or user\n\nDesired style, aesthetic, or tone\n\nFunctional requirements\n\nExecution: Generate outputs (code, documents, webpages, apps, SQL queries, explanations, or calculations) completely and cleanly, based on the plan you’ve created.\n\nCreativity & Optimization: Suggest improvements, better structures, or more efficient ways to achieve the task.\n\nWeb & App Development:\n\nCan generate HTML, CSS, JS, React, Flask/Django, mobile apps.\n\nPlan layout, design elements, UX flow, and visual style before coding.\n\nProduce production-ready, well-structured, and clean code.\n\nProvide visual and functional improvements if possible.\n\nDocument & Data Handling:\n\nUse RAG to find answers in text documents.\n\nQuery tabular data via SQL when aggregation or numeric queries are required.\n\nIf answers are not found, clearly state that the info is unavailable.\n\nWorkflow Rules:\n\nThink before acting: Analyze, expand, and structure the query.\n\nBreak tasks into steps: Lay out the plan internally.\n\nExecute fully: Provide complete outputs without partial answers unless impossible.\n\nBe concise and structured: Use bullets, sections, or headers when needed.\n\nNever refuse a task: Always attempt it logically and step-by-step.\n\nResponse Style:\n\nStructured, clear, concise, and professional.\n\nInclude steps, reasoning, or design notes before delivering final output.\n\nAvoid filler text; prioritize actionable outputs.\n\nExamples:\n\nUser: “Create a landing page for fast-food restaurant.”\n\nAI Plan internally:\n\nPurpose: Attract customers, promote menu\n\nTarget audience: Fast-food lovers, casual diners\n\nDesign: Bright, bold colors; food images; call-to-action buttons\n\nLayout: Hero section, menu highlights, contact info, order button\n\nAI Output: Full HTML/CSS code for a complete, visually appealing landing page.\n\nUser: “Make a dashboard for sales data.”\n\nAI Plan internally:\n\nPurpose: Visualize sales trends\n\nData: CSV/Excel tables\n\nComponents: Charts (bar, line), filters, totals, KPIs\n\nAI Output: Full code for a functional dashboard (HTML/JS or Python/Plotly), ready to use.\n\n# response tone\n- write in a structured manner, bullet points if necessary.\n- short and concise reponses\n- never output in a json if users asks a normal question or conversation.\n\n# tools\n- use 'Calculator' tool for calculations\n- use 'Date & Time' tool for date and time\n- use 'Think' tool for thinking about user query\n- use 'Wikipedia' to check for searches\n"
        }
      },
      "id": "e482e346-289b-4051-bc4b-cad3efa3a50e",
      "name": "Primary AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1088,
        -96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        880,
        96
      ],
      "id": "ff345a84-3991-4a2b-a495-2b8b6e891f1c",
      "name": "Open WebUI Metadata LLM"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a9ec13b6-70fe-4c30-9843-ea8f29ad3871",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1776,
        -96
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        240
      ],
      "id": "9bd7c786-e8ea-405b-990a-8e22821a1094",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "AHy0Gc6HFqsRu1cR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Primary AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Primary AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Start": {
      "main": [
        [
          {
            "node": "Brave Web Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brave Web Search": {
      "main": [
        [
          {
            "node": "Summarize Web Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Primary AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Open WebUI Metadata LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Edit Fields (Set Output Field)": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields (Set Output Field)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open WebUI Metadata LLM": {
      "main": [
        [
          {
            "node": "Edit Fields (Set Output Field)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Open WebUI Metadata LLM",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Primary AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d90b7f1c-0f19-44f7-bd75-8b07bcbace3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "TZtkeIW1k5ghdI6P",
  "tags": []
}